.head {
    display: flex;
    background-color: white;
    align-items: center;
    padding: 1rem;
}

.info {
    background-color: var(--main-color);
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.head_title {
    display: flex;
    align-items: center;
    margin-right: var(--space);
    color: var(---black-font);
}

.head_title:hover {
    cursor: pointer;
}

.infotitle {
    color: var(--font-color);
}

.content {
    width: var(--content);
    margin-left: auto;
    margin-right: auto;
}

.sign {
    color: black;
}

.sign:hover {
    cursor: pointer;
    color: darkgray;
}

.in {
    background-color: white;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    padding: 0.2rem 0.4rem;
    font-weight: bold;
    color: var(--black-font);
    font-family: 'roboto';
}

.input-group {
    background-color: rgb(212, 236, 250);
}

.in-div {
    padding: 0.5rem;
    display: inline-block;
}

.in-label {
    color: var(--font-color-3);
}

.goto {
    display: inline-block;
    margin: 0.5rem;
    padding: var(--space);
    border: 0;
    border-radius: 0.25rem;
    background-color: var(--button-color);
    text-align: center;
}

.goto:hover {
    cursor: pointer;
    color: var(--font-color);
}

.do {
    margin-top: var(--space);
    min-width: 10rem;
    background-color: var(--button-color-2);
    border: none;
    outline: none;
    border-radius: 0.2rem;
    padding: 0.6rem 0.6rem;
    font-weight: bold;
    color: white;
    font-family: 'roboto';
}

.do:hover {
    cursor: pointer;
    background-color: var(--button-color-3);
}
