:root {
    --font-name: 'Roboto';
    --font-name-2: 'Noto Sans';
    --content: 60rem;
    --button-color: rgb(126, 214, 234);
    --button-color-hover: rgb(130, 220, 240);
    --font-color-hover: rgb(230, 230, 230);
    --black-font: rgb(48, 48, 48);
    --black-font-hover: rgb(96, 96, 96);
    --code-font-color: rgb(48, 48, 48);
    --code-border-color: rgb(96, 96, 96);
    --code-background: rgb(246, 248, 250);
    --blue-font: rgb(50, 146, 220);
}

html {
    font-family: var(--font-name);
    color: var(--black-font);
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

pre {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

header {
    padding: 0 1rem;
    margin-bottom: 2rem;
}

main {
    flex: 1;
    max-width: var(--content);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.head_nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: var(--content);
    margin-left: auto;
    margin-right: auto;
}

.head_title {
    font-weight: bold;
    color: var(--button-color);
}

.head_menu {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0;
    padding: 0;
    list-style: none;
}

.head_link {
    display: inline-flex;
}

.head_link a {
    padding: 1rem 0.5rem;
}

.head_link:hover {
    color: var(--black-font-hover);
}

footer {
    margin: 5rem auto 0;
    display: flex;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.9rem;
}

.foot_menu {
    margin: 0;
    padding: 0;
    list-style: none;
    color: var(--black-font);
}

.foot_item {
    display: inline;
    color: var(--blue-font);
}

.foot_item a {
    display: inline;
    padding: 0 0.5rem;
}

.bold {
    font-weight: bold;
}

.home_section {
    flex: 0 0 27rem;
}

.code_section {
    flex: 0 0 27rem;
}

.feature_section {
    flex: 0 0 27rem;
}

.news_section {
    flex: 0 0 27rem;
}

.align_right {
    text-align: right;
}

.summary {
    margin: 0;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: normal;
}

.code {
    max-width: 30rem;
    border-radius: 0.2rem;
    padding: 0.6rem 0.6rem;
    box-sizing: border-box;
    align-items: flex-start;
    color: var(--code-font-color);
    background-color: var(--code-background);
    border: 1px solid var(--code-border-color);
    margin-bottom: 0.5rem;
}

.std_button {
    font-family: var(--font-name-2);
    font-size: 0.75rem;
    text-align: center;
    font-weight: bold;
    color: var(--black-font);
    display: inline-block;
    min-width: 6rem;
    border: 1px solid var(--button-color);
    background-color: var(--button-color);
    outline: none;
    border-radius: 0.2rem;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px;
}

.std_button:hover {
    cursor: pointer;
    border-color: var(--button-color-hover);
    background-color: var(--button-color-hover);
}

.std_button a {
    display: block;
    padding: 0.3rem 0.3rem;
}

.std_button a:hover {
    text-decoration: none;
}

.big_button {
    font-family: var(--font-name-2);
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: var(--black-font);
    display: inline-block;
    border: 1px solid var(--button-color);
    background-color: var(--button-color);
    outline: none;
    border-radius: 0.2rem;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px;
}

.big_button:hover {
    cursor: pointer;
    border-color: var(--button-color-hover);
    background-color: var(--button-color-hover);
}

.big_button a {
    text-decoration: none;
    display: block;
    padding: 0.9rem 2.6rem;
}
